body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0e6f6; /* Light purple background for better contrast */
  }
  
  .chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #cca3cc; /* Light purple border */
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    height: 80vh; /* Set a fixed height for the chat box */
    background-color: #ffe6ff; /* Light pink background for the chat box */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  }
  
  .user-info {
    background-color: #dba0db; /* Soft pink background */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .username-input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; /* White background for username input */
    font-size: 16px;
  }
  
  .message-list {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #ffffff; /* White background for the message list */
  }
  
  .message-item {
    margin-bottom: 10px;
  }
  
  .message-item strong {
    display: block;
    margin-bottom: 5px;
    color: #6a006a; /* Dark purple color for usernames */
  }
  
  .message-content {
    background-color: #e09fe0; /* Soft purple background color */
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
    max-width: 100%;
    color: #ffffff; /* White text for better readability */
  }
  
  .send-message {
    background-color: #dba0db; /* Soft pink background */
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .message-input {
    flex: 1;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; /* Very light pink background */
    font-size: 16px;
  }
  
  .send-button {
    background-color: #cc33cc; /* Bright purple button */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .send-button:hover {
    background-color: #b300b3; /* Darker purple on hover */
  }
  
  .send-button:active {
    background-color: #800080; /* Even darker purple on click */
  }
  
  .send-button:focus {
    outline: none; /* Remove outline on focus */
  }
  